*{
  padding: 0;
  margin: 0;
  
}
body {
  font-family: Arial, sans-serif;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  margin: 5px;
}


.search-result {
  margin-top: 20px;
}
.result-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
body {
  background-color: #f8f9fa;
}

h2 {
  color: #343a40;
}

#timer-display {
  font-size: 48px;
  text-align: center;
}

#meeting-list {
  max-height: 200px;
  overflow-y: auto;
}
